<section class="inner--hero section--margin mid--content"> 
    {{>header}}
</section>

<section class="section--wrapper blog--post ">
    <div class="container">
        <div class="post--hero">
            <img class="cover--img" src="images/blog/Coveuse.PNG" alt="post cover image" srcset="">
        </div>
        <div class="post--content">
            <div class="post--infos post--padding">
                <div class="author">
                    <img class="author--img" src="images/team/Honou_Koffi Dodji_Photo2.jpg" alt="Post author" srcset="">
                <p class="author--name"><strong>Auteur: </strong> Dodji Honou</p>
                </div>
                <p class="post--date"><strong>Publié le: </strong>24 Août 2023</p>
                <div class="share--block">
                     <p class="share--post"><strong>Partager:</strong></p>
                       <div class="social--media">
                            <a class="social--link"  href="http://"> <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path  class="social--svg" d="M11.3328 0.886253C11.3328 0.754165 11.2804 0.627487 11.187 0.534086C11.0936 0.440686 10.9669 0.388214 10.8348 0.388214H8.34461C7.09067 0.325751 5.86298 0.762133 4.92977 1.60202C3.99657 2.4419 3.43372 3.617 3.36421 4.87057V7.55998H0.874016C0.741928 7.55998 0.61525 7.61245 0.521849 7.70585C0.428449 7.79926 0.375977 7.92593 0.375977 8.05802V10.6478C0.375977 10.7799 0.428449 10.9066 0.521849 11C0.61525 11.0934 0.741928 11.1459 0.874016 11.1459H3.36421V17.8196C3.36421 17.9517 3.41669 18.0784 3.51009 18.1718C3.60349 18.2652 3.73016 18.3176 3.86225 18.3176H6.85049C6.98258 18.3176 7.10926 18.2652 7.20266 18.1718C7.29606 18.0784 7.34853 17.9517 7.34853 17.8196V11.1459H9.95826C10.069 11.1475 10.1771 11.1121 10.2655 11.0453C10.3539 10.9786 10.4175 10.8843 10.4463 10.7773L11.1635 8.18751C11.1833 8.11392 11.186 8.03677 11.1713 7.96199C11.1566 7.88721 11.1249 7.8168 11.0788 7.75618C11.0326 7.69556 10.9731 7.64635 10.9049 7.61233C10.8367 7.57832 10.7616 7.56041 10.6854 7.55998H7.34853V4.87057C7.37331 4.62402 7.48909 4.39555 7.67328 4.22978C7.85746 4.06402 8.09682 3.97286 8.34461 3.9741H10.8348C10.9669 3.9741 11.0936 3.92163 11.187 3.82823C11.2804 3.73482 11.3328 3.60815 11.3328 3.47606V0.886253Z" fill="white"/>
                            </svg> </a>

                            <a class="social--link"  href="http://"> 
                                <svg width="29" height="18" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.00975 27.125H1.38615V9.01519H7.00975V27.125ZM4.19456 6.54488C2.39656 6.54488 0.937622 5.05494 0.937622 3.25694C0.937622 2.39314 1.28076 1.56473 1.89156 0.953935C2.50235 0.343141 3.33077 0 4.19456 0C5.05835 0 5.88677 0.343141 6.49756 0.953935C7.10836 1.56473 7.4515 2.39314 7.4515 3.25694C7.4515 5.05494 5.99256 6.54488 4.19456 6.54488ZM28.0568 27.125H22.4458V18.3094C22.4458 16.2082 22.4032 13.5141 19.5221 13.5141C16.5984 13.5141 16.1499 15.7964 16.1499 18.1582V27.125H10.5321V9.01519H15.9252V11.4855H16.0036C16.7544 10.0624 18.5882 8.56084 21.324 8.56084C27.0154 8.56084 28.0617 12.3089 28.0617 17.1769V27.125H28.0568Z" fill="black"/>
                                </svg> </a>

                            <a class="social--link"  href="http://">
                            <svg width="29" height="19" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.2714 14.3953C19.2714 11.7646 17.1669 9.66 14.5361 9.66C11.9054 9.66 9.80081 11.7646 9.80081 14.3953C9.80081 17.0261 11.9054 19.1306 14.5361 19.1306C17.1669 19.1306 19.2714 17.0261 19.2714 14.3953ZM21.7268 14.3953C21.7268 18.4291 18.5699 21.586 14.5361 21.586C10.5023 21.586 7.34546 18.4291 7.34546 14.3953C7.34546 10.3615 10.5023 7.20465 14.5361 7.20465C18.5699 7.20465 21.7268 10.3615 21.7268 14.3953ZM23.656 6.85389C23.656 7.90618 22.9545 8.60771 21.9022 8.60771C20.8499 8.60771 20.1484 7.90618 20.1484 6.85389C20.1484 5.80159 20.8499 5.10006 21.9022 5.10006C22.9545 5.10006 23.656 5.97698 23.656 6.85389ZM14.5361 2.8201C12.4315 2.8201 8.04699 2.64471 6.29317 3.34624C5.06549 3.87239 4.0132 4.92468 3.66243 6.15236C2.9609 7.90618 3.13629 12.2907 3.13629 14.3953C3.13629 16.4999 2.9609 20.8845 3.66243 22.6383C4.0132 23.866 5.06549 24.9183 6.29317 25.269C8.04699 25.9705 12.6069 25.7952 14.5361 25.7952C16.4653 25.7952 21.0253 25.9705 22.7791 25.269C24.0068 24.7429 24.8837 23.866 25.4098 22.6383C26.1114 20.7091 25.936 16.3245 25.936 14.3953C25.936 12.4661 26.1114 7.90618 25.4098 6.15236C25.0591 4.92468 24.0068 3.87239 22.7791 3.52163C21.0253 2.64471 16.6407 2.8201 14.5361 2.8201ZM28.5667 14.3953V20.1829C28.5667 22.2875 27.8652 24.3921 26.2867 26.1459C24.7083 27.7244 22.6037 28.4259 20.3237 28.4259H8.74852C6.64393 28.4259 4.53934 27.7244 2.78552 26.1459C1.38246 24.5675 0.505554 22.4629 0.505554 20.1829V8.60771C0.505554 6.32774 1.38246 4.22315 2.78552 2.64471C4.53934 1.24166 6.64393 0.364746 8.74852 0.364746H20.3237C22.4283 0.364746 24.5329 1.06627 26.2867 2.64471C27.6898 4.22315 28.5667 6.32774 28.5667 8.60771V14.3953Z" fill="#131415"/>
                            </svg>
                            </a>
                       </div>
                </div>
            </div>

            <div class="main--content post--padding">
                <h3 class="post--title">De l'Idée à la Réalité : Mise en Place d'une Couveuse Hybride Écologique par l'Équipe H-FABLAB</h2>
                <p class="paragraph">Dans le cadre du challenge "I Make 4 My City" organisé par la Fondation Orange, l'équipe de H-FABLAB s'est engagée dans une mission d'envergure : former et accompagner 15 participants à la conception et à la réalisation d'une couveuse hybride éco-responsable. Cet article vous emmène dans les coulisses de cette aventure créative et éducative.</p>
                
                <p class="paragraph">L'équipe H-FABLAB s'est associée à la Fondation Orange pour une mission ambitieuse : former 15 participants à la conception et à la réalisation d'une couveuse hybride éco-responsable. Au cœur de cette aventure, la modélisation 3D a été un élément clé, avec l'utilisation du logiciel Fusion 360. Guidés par l'équipe H-FABLAB, les participants ont exploré la conception industrielle et mécanique, créant des modèles 3D et acquérant des compétences essentielles.</p>

                <p class="paragraph">La journée inaugurale a plongé les participants dans la conception 3D. Ils ont utilisé Fusion 360 pour créer des modèles, dont un cube en 3D, sous la supervision attentive de l'équipe H-FABLAB. La coordination a été primordiale, avec des échanges entre les groupes pour déterminer le positionnement optimal des éléments du système.</p>

                <p class="paragraph">À la fin de chaque journée, des bilans étaient dressés, permettant aux participants de partager leurs apprentissages et de discuter des défis rencontrés. L'implication de l'équipe H-FABLAB a créé une dynamique d'apprentissage stimulante et collective. Grâce à cette formation, les participants ont acquis des compétences cruciales en modélisation 3D et ont progressé dans la réalisation de la couveuse hybride.</p>


                <p class="paragraph">La contribution de l'équipe H-FABLAB en tant qu'association formatrice a été cruciale pour cette aventure. En collaborant avec la Fondation Orange, elle a jeté les bases d'une agriculture moderne et durable, tout en formant une nouvelle génération de concepteurs et d'innovateurs. Cette couveuse hybride représente l'union de l'expertise et de la passion pour un avenir agricole plus responsable et prometteur.</p>
                    <div class="img--block">
                      <img src="images/blog/Coveuse.png" alt="" srcset="">
                    <span class="img--legend"> Spring in Japan lasts from about mid </span>
                </div>
            </div>

            <div class="main--content  post--padding post--footer ">
                <div class="share--block">
                     <p class="share--post"><strong>Partager:</strong></p>
                       <div class="social--media">
                            <a class="social--link"  href="http://"> <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path  class="social--svg" d="M11.3328 0.886253C11.3328 0.754165 11.2804 0.627487 11.187 0.534086C11.0936 0.440686 10.9669 0.388214 10.8348 0.388214H8.34461C7.09067 0.325751 5.86298 0.762133 4.92977 1.60202C3.99657 2.4419 3.43372 3.617 3.36421 4.87057V7.55998H0.874016C0.741928 7.55998 0.61525 7.61245 0.521849 7.70585C0.428449 7.79926 0.375977 7.92593 0.375977 8.05802V10.6478C0.375977 10.7799 0.428449 10.9066 0.521849 11C0.61525 11.0934 0.741928 11.1459 0.874016 11.1459H3.36421V17.8196C3.36421 17.9517 3.41669 18.0784 3.51009 18.1718C3.60349 18.2652 3.73016 18.3176 3.86225 18.3176H6.85049C6.98258 18.3176 7.10926 18.2652 7.20266 18.1718C7.29606 18.0784 7.34853 17.9517 7.34853 17.8196V11.1459H9.95826C10.069 11.1475 10.1771 11.1121 10.2655 11.0453C10.3539 10.9786 10.4175 10.8843 10.4463 10.7773L11.1635 8.18751C11.1833 8.11392 11.186 8.03677 11.1713 7.96199C11.1566 7.88721 11.1249 7.8168 11.0788 7.75618C11.0326 7.69556 10.9731 7.64635 10.9049 7.61233C10.8367 7.57832 10.7616 7.56041 10.6854 7.55998H7.34853V4.87057C7.37331 4.62402 7.48909 4.39555 7.67328 4.22978C7.85746 4.06402 8.09682 3.97286 8.34461 3.9741H10.8348C10.9669 3.9741 11.0936 3.92163 11.187 3.82823C11.2804 3.73482 11.3328 3.60815 11.3328 3.47606V0.886253Z" fill="white"/>
                            </svg> </a>

                            <a class="social--link"  href="http://"> 
                                <svg width="29" height="18" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.00975 27.125H1.38615V9.01519H7.00975V27.125ZM4.19456 6.54488C2.39656 6.54488 0.937622 5.05494 0.937622 3.25694C0.937622 2.39314 1.28076 1.56473 1.89156 0.953935C2.50235 0.343141 3.33077 0 4.19456 0C5.05835 0 5.88677 0.343141 6.49756 0.953935C7.10836 1.56473 7.4515 2.39314 7.4515 3.25694C7.4515 5.05494 5.99256 6.54488 4.19456 6.54488ZM28.0568 27.125H22.4458V18.3094C22.4458 16.2082 22.4032 13.5141 19.5221 13.5141C16.5984 13.5141 16.1499 15.7964 16.1499 18.1582V27.125H10.5321V9.01519H15.9252V11.4855H16.0036C16.7544 10.0624 18.5882 8.56084 21.324 8.56084C27.0154 8.56084 28.0617 12.3089 28.0617 17.1769V27.125H28.0568Z" fill="black"/>
                                </svg> </a>

                            <a class="social--link"  href="http://">
                            <svg width="29" height="19" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.2714 14.3953C19.2714 11.7646 17.1669 9.66 14.5361 9.66C11.9054 9.66 9.80081 11.7646 9.80081 14.3953C9.80081 17.0261 11.9054 19.1306 14.5361 19.1306C17.1669 19.1306 19.2714 17.0261 19.2714 14.3953ZM21.7268 14.3953C21.7268 18.4291 18.5699 21.586 14.5361 21.586C10.5023 21.586 7.34546 18.4291 7.34546 14.3953C7.34546 10.3615 10.5023 7.20465 14.5361 7.20465C18.5699 7.20465 21.7268 10.3615 21.7268 14.3953ZM23.656 6.85389C23.656 7.90618 22.9545 8.60771 21.9022 8.60771C20.8499 8.60771 20.1484 7.90618 20.1484 6.85389C20.1484 5.80159 20.8499 5.10006 21.9022 5.10006C22.9545 5.10006 23.656 5.97698 23.656 6.85389ZM14.5361 2.8201C12.4315 2.8201 8.04699 2.64471 6.29317 3.34624C5.06549 3.87239 4.0132 4.92468 3.66243 6.15236C2.9609 7.90618 3.13629 12.2907 3.13629 14.3953C3.13629 16.4999 2.9609 20.8845 3.66243 22.6383C4.0132 23.866 5.06549 24.9183 6.29317 25.269C8.04699 25.9705 12.6069 25.7952 14.5361 25.7952C16.4653 25.7952 21.0253 25.9705 22.7791 25.269C24.0068 24.7429 24.8837 23.866 25.4098 22.6383C26.1114 20.7091 25.936 16.3245 25.936 14.3953C25.936 12.4661 26.1114 7.90618 25.4098 6.15236C25.0591 4.92468 24.0068 3.87239 22.7791 3.52163C21.0253 2.64471 16.6407 2.8201 14.5361 2.8201ZM28.5667 14.3953V20.1829C28.5667 22.2875 27.8652 24.3921 26.2867 26.1459C24.7083 27.7244 22.6037 28.4259 20.3237 28.4259H8.74852C6.64393 28.4259 4.53934 27.7244 2.78552 26.1459C1.38246 24.5675 0.505554 22.4629 0.505554 20.1829V8.60771C0.505554 6.32774 1.38246 4.22315 2.78552 2.64471C4.53934 1.24166 6.64393 0.364746 8.74852 0.364746H20.3237C22.4283 0.364746 24.5329 1.06627 26.2867 2.64471C27.6898 4.22315 28.5667 6.32774 28.5667 8.60771V14.3953Z" fill="#131415"/>
                            </svg>
                            </a>
                    </div>
                </div>          
                <div class="container mt-5">
                    <div class="dark--separator"></div>
                    <div class="container--title__group">
                    <div class="title--content">
                            <h4 class="h4">Sur le même sujet</h4>
                    </div>
                    </div>
                    
                    <div class="blog--posts__wrapper flex--container">
                       {{#each posts_relative_b}}
                        <div class="col--unit__6 post--item">
                                <div class="img--box ">
                                    <img src="images/{{this.image}}" alt="" srcset="">
                                    <div class="date--card__wrapper">
                                    <div class="date--card">
                                            <span class="day">{{this.date.jour}}</span>
                                        <span class="month ">{{this.date.mois}}</span>
                                    </div>
                                    </div>
                                </div>

                                <div class="post--body">
                                    <div class="cat--labels">
                                        {{#each this.cat__label}}
                                        <span class="category--label">{{this}}</span>
                                        {{/each}}
                                    </div>

                                    <h4 class="post--title">
                                        {{this.title}}
                                    </h4>

                                    <a class="underlined--btn" href="/blog/{{this._id}}">Lire l'article</a>
                                </div>
                            </div>
                            {{/each}}
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>



{{> main__footer}}