<section class="inner--hero section--margin blog"> 
    {{>header}}
    <div class="content">
        <div class="header--text__container">
      <span class="pastille--label pastille--label__black">{{{locals.hero__label}}}</span>
            <h1>{{{locals.hero__title}}}</h1>
              <p>{{{locals.hero__subtitle}}}</p>

     </div>
      <div class="dark--separator"></div>
    </div> 
</section>

<section class="section--wrapper blog--page">
    <div class="container">
       
        <div class="blog--posts__wrapper flex--container">
          
           {{#each locals.posts_data}}
           <div class="col--unit__4 post--item">
                <div class="img--box ">
                    <img src="images/{{this.image}}" alt="" srcset="">
                    <div class="date--card__wrapper">
                       <div class="date--card">
                             <span class="day">{{this.date.jour}}</span>
                        <span class="month ">{{this.date.mois}}</span>
                       </div>
                    </div>
                </div>

                <div class="post--body">
                    <div class="cat--labels">
                         {{#each this.cat__label}}
                         <span class="category--label">{{this}}</span>
                         {{/each}}
                    </div>

                    <h4 class="post--title">
                        {{this.title}}
                    </h4>

                    <a class="underlined--btn" href="/blog/{{this._id}}">Lire l'article</a>
                </div>
             </div>
             {{/each}}
        </div>
    </div>

</section>

{{> main__footer}}
