{{> main__nav}}
<section class="inner--hero inner--hero__bloc section--margin mt-7">
         <div class="hero--banner">
                <img src="images/{{{locals.banner__image}}}" alt="" srcset="">
                 <div class="header--text__container">
                       <span class="pastille--label pastille--label__black">{{{locals.hero__label}}}</span>
                       <h1>{{{locals.hero__title}}}</h1>
                       <p>{{{locals.hero__subtitle}}}</p>
                    </div>
                 <div class="dark--separator"></div>
        </div>  
</section>
<section class="section--wrapper blog--page">
    <div class="container">
       
        <div class="blog--posts__wrapper flex--container">
          
           {{#each blog_data}}
           <div class="col--unit__4 post--item">
                <div class="img--box ">
                    <img src="images/{{this.image}}" alt="" srcset="">
                    <div class="date--card__wrapper">
                       <div class="date--card">
                             <span class="day">{{this.date.jour}}</span>
                        <span class="month ">{{this.date.mois}}</span>
                       </div>
                    </div>
                </div>

                <div class="post--body">
                    <div class="cat--labels">
                         {{#each this.cat__label}}
                         <span class="category--label">{{this}}</span>
                         {{/each}}
                    </div>

                    <a href="/blog/post?title={{this.link_title}}&id={{this._id}}">
                                        <h4 class="post--title">
                                            {{this.title}}
                                        </h4>
                      </a>

                    <a class="underlined--btn" href="/blog/post?title={{this.link_title}}&id={{this._id}}">Lire l'article</a>
                </div>
             </div>
             {{/each}}
        </div>
    </div>

</section>

{{> main__footer}}
