<%- include('../partials/main__nav') %>
    <section class="inner--hero inner--hero__bloc inner--hero_section section--margin mt-7">
        <div class="hero--banner">
            <img src="images/<%= locals.banner__image  %>" alt="" srcset="">
            <div class="header--text__container">
                <span class="pastille--label pastille--label__black">
                    <%= locals.hero__label %>
                </span>
                <h1>
                    <%= locals.hero__title %>
                </h1>
                <p>
                    <%= locals.hero__subtitle %>
                </p>
            </div>
            <div class="dark--separator"></div>
        </div>
    </section>


    <section class="section section--wrapper donate">
        <div class="container">
            <div class="title--content mb-3">
                <h3>Changez des vies grâce à l'apprentissage pratique et l'innovation locale !</h3>
            </div>
            <div class="flex--container donate--box">
                <div class="content--wrapper col--unit__6">
                    <p>
                        Changez des vies grâce à l'apprentissage pratique et l'innovation locale !
                        H-FABLAB, offre des opportunités uniques aux jeunes scolarisés ou non, alphabétisés ou non en
                        français.
                        Avec votre soutien, nous créons un espace de recherche appliquée où les jeunes peuvent
                        prototyper, tester et mettre en œuvre des solutions locales.
                    </p>
                </div>

                <div class="content--wrapper col--unit__6">

                    <p>
                        Rejoignez-nous dans notre mission de formation inclusive, de réorientation professionnelle et de
                        développement de projets qui répondent aux défis de notre communauté.
                        Faites un don aujourd'hui et contribuez à façonner l'avenir de l'éducation, de l'agriculture et
                        d'autres secteurs en Côte d'Ivoire et toute Afrique !"

                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section--wrapper donnation--form bg--light">
        <div class="container flex--container">

            <div class="col--unit__6 form--wrapper form--donation">
                <div class="title--group">
                    <h3>Don financier</h3>
                </div>
                <div class="button-container">
                    <div class="button -regular center pay-btn" data-transaction-amount="2000"
                        data-transaction-description="Don de 5000" data-customer-email="johndoe@gmail.com"
                        data-customer-lastname="Doe">2.000 FCFA </div>


                    <div class="button -regular center pay-btn" data-transaction-amount="5000"
                        data-transaction-description="Don de 5000" data-customer-email="johndoe@gmail.com"
                        data-customer-lastname="Doe">5.000 FCFA</div>

                    <div class="button -regular center pay-btn" data-transaction-amount="10000"
                        data-transaction-description="Don de 5000" data-customer-email="johndoe@gmail.com"
                        data-customer-lastname="Doe">10.000 FCFA </div>



                    <div class="button -mid center pay-btn" data-transaction-amount="20000"
                        data-transaction-description="Don de 20.000" data-customer-email="johndoe@gmail.com"
                        data-customer-lastname="Doe">20.000 FCFA </div>


                    <div class="button -mid center pay-btn" data-transaction-amount="30000"
                        data-transaction-description="Don de 30.000" data-customer-email="johndoe@gmail.com"
                        data-customer-lastname="Doe">30.000 FCFA</div>


                    <div class="button -mid center pay-btn" data-transaction-amount="50000"
                        data-transaction-description="Don de 5000" data-customer-email="johndoe@gmail.com"
                        data-customer-lastname="Doe"> 50.000 FCFA</div>


                    <div class="button -dark center pay-btn" data-transaction-amount="100000"
                        data-transaction-description="Don de 5000" data-customer-email="johndoe@gmail.com"
                        data-customer-lastname="Doe">10.000 FCFA </div>


                    <div class="button -dark center pay-btn" data-transaction-amount="250000"
                        data-transaction-description="Don de 5000" data-customer-email="johndoe@gmail.com"
                        data-customer-lastname="Doe">250.000 FCFA </div>


                    <div class="button -dark center pay-btn" data-transaction-amount="500000"
                        data-transaction-description="Don de 5000" data-customer-email="johndoe@gmail.com"
                        data-customer-lastname="Doe">500.000 FCFA </div>
                </div>

                <form action="" class="donation_form" id="donnationForm">
                    <div class="input--wrapper col--unit__6">
                        <label for="">Autre montant </label>
                        <input type="number" name="custom-amount" id="custom-amount">
                        <div id="error-message" style="color: red; display: none;">Le montant doit être supérieur ou
                            égal à 1000</div>
                    </div>

                    <input class="btn btn--primary" type="submit" value="Valider">
                </form>

                <div id="embed" style="width: 100%; height: 430px; display: none"></div>

            </div>

            <div class="col--unit__6 form--wrapper form--donation">
                <div class="title--group">
                    <h3>Don en nature</h3>
                </div>
                <form class="donnation--form" id="form-donnation-2" method="post" action="/form-donnation-2">
                    <div class="input--wrapper">
                        <label for="">Nom complet </label>
                        <input type="text" name="" id="fullName">
                    </div>

                    <div class="flex--container">
                        <div class="input--wrapper col--unit__6">
                            <label for="">Email</label>
                            <input type="email" name="" id="email">
                        </div>

                        <div class="input--wrapper col--unit__6">
                            <label for="">Téléphone </label>
                            <input type="tel" name="" id="phoneNumber">
                        </div>
                    </div>

                    <div class="input--wrapper">
                        <label for="">Ville</label>
                        <input type="text" name="" id="city">
                    </div>

                    <div class="input--wrapper">
                        <label for="">Adresse</label>
                        <input type="text" name="adress" id="address">
                    </div>

                    <div class="input--wrapper">
                        <label for="">Description de votre don</label>
                        <textarea name="message" id="message" cols="30" rows="6"></textarea>
                    </div>

                    <button class="btn btn--primary" type="submit">Soummettre</button>
                </form>
            </div>
        </div>
    </section>


    <%- include('../partials/main__footer') %>