<%- include('../partials/main__nav') %>
<section class="inner--hero inner--hero__bloc section--margin mt-7">
         <div class="hero--banner">
                <img src="images/<%= locals.banner__image  %>" alt="" srcset="">
                 <div class="header--text__container">
                        <h1><%= locals.hero__title  %></h1>
                        <p><%= locals.hero__subtitle %></p>
                    </div>
                 <div class="dark--separator"></div>
        </div>  
</section>

    <section class="section--wrapper mt-5 mb-5 form--section">
          <div class="container flex--container">
       
        <div class="col--unit__6  centered--box form--wrapper">
            <form action="/inscription-atelier" method="POST" id="workshopForm">
                <div class="input--wrapper">
                        <label for="">Nom complet </label>
                        <input type="text" name="fullName" id="fullName">
                    </div>
                    
                <div class="flex--container">
                     <div class="input--wrapper col--unit__6">
                        <label for="">Email</label>
                        <input type="email" name="email" id="email">
                    </div>

                    <div class="input--wrapper col--unit__6">
                        <label for="">Téléphone </label>
                        <input type="tel" name="phoneNumber" id="phoneNumber">
                    </div>
                </div>

                 <div class="input--wrapper">
                        <label for="">Sélectionnez l'atelier</label>
                         <div class="select workshop--list">
                                <select id="workshopTitle">
                                    <option value="">Sélectionnez un équipement</option>
                                    <% if (Array.isArray(workshops)) { %>
                                        <% workshops.forEach(function(workshop){ %>
                                            <option value="<%= workshop.title %>"><%= workshop.title %></option>
                                        <% }) %>
                                         <% } else { %>
                                            <option value="">Aucun atelier disponible</option>
                                        <% } %>
                                </select>
                        </div>
                </div>

                <button class="btn btn--primary" type="submit">S'inscrire</button>
            </form>
        </div>
    </div>
    </section>

<%- include('../partials/main__footer') %>