<%- include('../partials/main__nav') %>
    <section class="inner--hero inner--hero__bloc section--margin mt-7">
        <div class="hero--banner">
            <img src="images/<%= locals.banner__image  %>" alt="" srcset="">
            <div class="header--text__container">
                <span class="pastille--label pastille--label__black">
                    <%= locals.hero__label %>
                </span>
                <h1>
                    <%= locals.hero__title %>
                </h1>
                <p>
                    <%= locals.hero__subtitle %>
                </p>
            </div>
            <div class="dark--separator"></div>
        </div>
    </section>
    <div class="connexion--form main--wrapper section--margin mb-5">

        <div class="col--unit__6 login__form">
            <div class="form--content">
                <div class="title--group">
                    <h3>Se connecter</h3>
                </div>
                <form action="/login" method="POST" id="loginForm">
                    <div class="input--wrapper">
                        <label for="">Email</label>
                        <input type="email" name="email" id="loginEmail">
                    </div>
                    <div class="input--wrapper">
                        <label for="">Mot de pass</label>
                        <input type="password" name="password" id="loginPassword">
                    </div>
                    <button class="btn btn--primary" type="submit">Se connecter</button>
                </form>
            </div>
        </div>


        <div class="col--unit__6 signup__form">
            <div class="form--content">
                <div class="title--group">
                    <h3>S'inscrire</h3>
                </div>
                <form action="/signup" method="post" id="signupForm">
                    <div class="input--wrapper">
                        <label for="">Nom et prénoms </label>
                        <input type="text" name="fullName" id="fullName">
                    </div>

                    <div class="input--wrapper col--unit__6">
                        <label for="">Email</label>
                        <input type="signupEmail" name="signupEmail" id="signupEmail">
                    </div>
                    <div class="input--wrapper">
                        <label for="">Mot de passe</label>
                        <input type="password" name="signupPassword" id="signupPassword">
                    </div>

                    <div class="input--wrapper ">
                        <label for="">Confirmez le mot de passe</label>
                        <input type="password" name="signupPasswordConfirmation" id="signupPasswordConfirmation">
                    </div>
                    <button class="btn btn--primary" type="submit">S'inscrire</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/main__footer') %>