<%- include('../partials/head') %>
<section class="dashb--hero section--margin mt-2">
    <%- include('../partials/header') %>
    <img src="images/project.webp" alt="" srcset="">
    <div class="overlay"></div>
    <span class="user--profile">
        <img src="images/Rectangle 23.png" alt="" srcset="">
    </span>
</section>

<section class="section--wrapper user--account unset--account">
    <div class="main--container">
        <div class="user--info">
            <div class="user--name__group">
                <h4><%= user.fullName %></h4>
                <span><%= user.email %></span>
            </div>

            <div class="info--table">
                <div class="info--row">
                    <span class="info--title">Pays:</span>
                    <span class="info">Sénégal</span>
                </div>
                <div class="info--row">
                    <span class="info--title">Adresse:</span>
                    <span class="info">Angré 7eme tranche, Abidjan,Côte d’ivoire</span>
                </div>
                <div class="info--row">
                    <span class="info--title">Téléphone:</span>
                    <span class="info">+221 7865443333l</span>
                </div>
            </div>

            <form action="/logout" method="POST"><button class="btn btn--primary" type="submit">Se déconnecter</button></form>
        </div>

        <div class="user--main__content">
            <nav>
                <a class="tab--nav__link active" href="/mon-compte">Mon compte</a>
                <a class="tab--nav__link" href="/mon-compte/parametres">Paramètres</a>
            </nav>

            <div class="account--data flex--wrapper">
                <div class="subscription--card">

                    <% if (user.accountStatus === "update") { %>
                        <div class="top--info">
                            <span class="background--span">Mon abonnement</span>
                            <span class="price">50000 FCFA<sup>/AN</sup></span>
                        </div>
                        <div class="subscription--bottom">
                            <div class="expiration--group">
                                <p>Expire le</p>
                                <span class="expiration--date">25 Juillet 2024</span>
                            </div>
                            <a class="btn btn--sm btn--primary" href="mon-abonnement">Renouveler</a>
                        </div>
                    <% } else { %>
                        <div class="top--info">
                            <span class="no--price">Aucun abonnement</span>
                        </div>
                        <div class="subscription--bottom">
                            <a class="btn btn--sm btn--primary" href="/mon-compte/abonnement">Demander une carte</a>
                        </div>
                    <% } %>
                    
                </div>

                <div class="membercard--group">
                    <h2>Ma carte de membre</h2>

                    <div class="member--card">
                        <img src="images/card.png" alt="" srcset="" class="member--card__img">

                        <span class="download--btn"> Télécharger
                            <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11.4286V16H17.7619V11.4286M9.38095 0V12.9524M9.38095 12.9524L4.04762 7.61905M9.38095 12.9524L14.7143 7.61905" stroke="#1C1C1E" stroke-opacity="0.6" stroke-width="2"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/main__footer') %>