<%- include('../partials/main__nav') %>
<section class="inner--hero inner--hero__bloc inner--hero_section section--margin mt-7">
         <div class="hero--banner">
                <img src="images/<%= locals.banner__image  %>" alt="" srcset="">
                 <div class="header--text__container">
                       <span class="pastille--label pastille--label__black"><%= locals.hero__label %></span>
                       <h1><%= locals.hero__title  %></h1>
                       <p><%= locals.hero__subtitle %></p>
                    </div>
                 <div class="dark--separator"></div>
        </div>  
</section>
<section class="section--wrapper projects--list mt-8 mb-5">
    <div class="container">
           <% if (Array.isArray(events)) { %>
               <% events.forEach(function(event){ %>
                <%- include(`events/${event._id.toString()}`, {event}) %>
              <% }); %>
               <% } else { %>
                <li>Aucun évènement disponible</li>
            <% } %>
    </div>
</section>
<%- include('../partials/main__footer') %>