<%- include('../partials/main__nav') %>
<section class="inner--hero inner--hero__bloc section--margin mt-7">
         <div class="hero--banner">
                <img src="images/<%= locals.banner__image  %>" alt="" srcset="">
                 <div class="header--text__container">
                        <h1><%= locals.hero__title  %></h1>
                        <p><%= locals.hero__subtitle %></p>
                    </div>
                 <div class="dark--separator"></div>
        </div>  
</section>

    <section class="section--wrapper mt-5 mb-5">
          <div class="container flex--container">
       
        <div class="col--unit__6  centered--box form--wrapper">
            <form action="/reservation-equipemenent" method="POST" id="equipmentBooking">
                <div class="input--wrapper">
                        <label for="">Nom complet </label>
                        <input type="text" name="fullName" id="fullName">
                    </div>
                    
                <div class="flex--container">
                     <div class="input--wrapper col--unit__6">
                        <label for="">Email</label>
                        <input type="email" id="email">
                    </div>

                    <div class="input--wrapper col--unit__6">
                        <label for="">Téléphone </label>
                        <input type="tel" name="phoneNumber" id="phoneNumber">
                    </div>
               </div>
                <div class="input--wrapper">
                    <label for="">Date de réservation</label>
                    <input type="date" name="bookingDate" id="bookingDate">
               </div>
                <div class="flex--container">
                    <div class="input--wrapper col--unit__6">
                        <label for="">Heure de début</label>
                        <input type="time" name="startHour" min="09:00" max="18:00" id="startHour" />
                      </div>
                      
                      <div class="input--wrapper col--unit__6">
                        <label for="">Heure de fin </label>
                        <input type="time" name="finishHour" min="09:00" max="18:00" id="finishHour" />
                      </div>
               </div>

                 <div class="input--wrapper">
                        <label for="">Choix des équipements</label>
                         <div class="select equipment--box">
                            <select id="equipment">
                                <option value="">Sélectionnez un équipement</option>
                                <% if (Array.isArray(equipments)) { %>
                                    <% equipments.forEach(function(equipment){ %>
                                        <option value="<%= equipment.title %>"><%= equipment.title %></option>
                                    <% }) %>
                                     <% } else { %>
                                        <option value="">Aucun équipement disponible</option>
                                    
                                    <% } %>
                               
                            </select>
                        </div>
                </div> 
                <button class="btn btn--primary" type="submit">Réserver</button>
            </form>
        </div>
    </div>
    </section>

<%- include('../partials/main__footer') %>