<section class="inner--hero section--margin mid--content"> 
    {{>header}}
</section>

<section class="section--wrapper blog--post ">
    <div class="container">
        <div class="post--hero">
            <img class="cover--img" src="images/blog/IMG_20220923_172021_142.jpg" alt="post cover image" srcset="">
        </div>
        <div class="post--content">
            <div class="post--infos post--padding">
                <div class="author">
                    <img class="author--img" src="images/team/Honou_Koffi Dodji_Photo2.jpg" alt="Post author" srcset="">
                <p class="author--name"><strong>Auteur: </strong> Dodji Honou</p>
                </div>
                <p class="post--date"><strong>Publié le: </strong>24 Août 2023</p>
                <div class="share--block">
                     <p class="share--post"><strong>Partager:</strong></p>
                     <div class="social--media">
                            <button class="social--link share" data-action="facebook"> <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path  class="social--svg" d="M11.3328 0.886253C11.3328 0.754165 11.2804 0.627487 11.187 0.534086C11.0936 0.440686 10.9669 0.388214 10.8348 0.388214H8.34461C7.09067 0.325751 5.86298 0.762133 4.92977 1.60202C3.99657 2.4419 3.43372 3.617 3.36421 4.87057V7.55998H0.874016C0.741928 7.55998 0.61525 7.61245 0.521849 7.70585C0.428449 7.79926 0.375977 7.92593 0.375977 8.05802V10.6478C0.375977 10.7799 0.428449 10.9066 0.521849 11C0.61525 11.0934 0.741928 11.1459 0.874016 11.1459H3.36421V17.8196C3.36421 17.9517 3.41669 18.0784 3.51009 18.1718C3.60349 18.2652 3.73016 18.3176 3.86225 18.3176H6.85049C6.98258 18.3176 7.10926 18.2652 7.20266 18.1718C7.29606 18.0784 7.34853 17.9517 7.34853 17.8196V11.1459H9.95826C10.069 11.1475 10.1771 11.1121 10.2655 11.0453C10.3539 10.9786 10.4175 10.8843 10.4463 10.7773L11.1635 8.18751C11.1833 8.11392 11.186 8.03677 11.1713 7.96199C11.1566 7.88721 11.1249 7.8168 11.0788 7.75618C11.0326 7.69556 10.9731 7.64635 10.9049 7.61233C10.8367 7.57832 10.7616 7.56041 10.6854 7.55998H7.34853V4.87057C7.37331 4.62402 7.48909 4.39555 7.67328 4.22978C7.85746 4.06402 8.09682 3.97286 8.34461 3.9741H10.8348C10.9669 3.9741 11.0936 3.92163 11.187 3.82823C11.2804 3.73482 11.3328 3.60815 11.3328 3.47606V0.886253Z" fill="white"/>
                            </svg> </button>

                            <button class="social--link share"  data-action="linkedin"> 
                                <svg width="29" height="18" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.00975 27.125H1.38615V9.01519H7.00975V27.125ZM4.19456 6.54488C2.39656 6.54488 0.937622 5.05494 0.937622 3.25694C0.937622 2.39314 1.28076 1.56473 1.89156 0.953935C2.50235 0.343141 3.33077 0 4.19456 0C5.05835 0 5.88677 0.343141 6.49756 0.953935C7.10836 1.56473 7.4515 2.39314 7.4515 3.25694C7.4515 5.05494 5.99256 6.54488 4.19456 6.54488ZM28.0568 27.125H22.4458V18.3094C22.4458 16.2082 22.4032 13.5141 19.5221 13.5141C16.5984 13.5141 16.1499 15.7964 16.1499 18.1582V27.125H10.5321V9.01519H15.9252V11.4855H16.0036C16.7544 10.0624 18.5882 8.56084 21.324 8.56084C27.0154 8.56084 28.0617 12.3089 28.0617 17.1769V27.125H28.0568Z" fill="black"/>
                                </button> </a>

                            <button class="social--link  share" data-action="twitter">
                             <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.46 2C20.69 2.35 19.86 2.58 19 2.69C19.88 2.16 20.56 1.32 20.88 0.31C20.05 0.81 19.13 1.16 18.16 1.36C17.37 0.5 16.26 0 15 0C12.65 0 10.73 1.92 10.73 4.29C10.73 4.63 10.77 4.96 10.84 5.27C7.28004 5.09 4.11004 3.38 2.00004 0.79C1.63004 1.42 1.42004 2.16 1.42004 2.94C1.42004 4.43 2.17004 5.75 3.33004 6.5C2.62004 6.5 1.96004 6.3 1.38004 6V6.03C1.38004 8.11 2.86004 9.85 4.82004 10.24C4.19077 10.4122 3.53013 10.4362 2.89004 10.31C3.16165 11.1625 3.69358 11.9084 4.41106 12.4429C5.12854 12.9775 5.99549 13.2737 6.89004 13.29C5.37367 14.4904 3.49404 15.1393 1.56004 15.13C1.22004 15.13 0.880039 15.11 0.540039 15.07C2.44004 16.29 4.70004 17 7.12004 17C15 17 19.33 10.46 19.33 4.79C19.33 4.6 19.33 4.42 19.32 4.23C20.16 3.63 20.88 2.87 21.46 2Z" fill="#1C1C1E"/>
                                    </svg> 
                            </button>

                              <button class="social--link  share" data-action="copy">
                           
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.72004 10.6877C6.16953 10.6877 5.63136 10.5245 5.17361 10.2187C4.71586 9.91289 4.35908 9.47818 4.1484 8.96958C3.93772 8.46097 3.8826 7.90131 3.99002 7.36138C4.09743 6.82145 4.36255 6.3255 4.75185 5.93625L7.62398 3.06525C8.14597 2.54325 8.85395 2.25 9.59216 2.25C10.3304 2.25 11.0384 2.54325 11.5604 3.06525C12.0823 3.58725 12.3756 4.29522 12.3756 5.03344C12.3756 5.77165 12.0823 6.47963 11.5604 7.00162L11.2493 7.31213L10.4534 6.51731L10.7667 6.204C11.0765 5.89265 11.2503 5.47112 11.2499 5.03185C11.2495 4.59257 11.0749 4.17138 10.7644 3.86063C10.4484 3.55906 10.0284 3.3908 9.5916 3.3908C9.1548 3.3908 8.73479 3.55906 8.41879 3.86063L5.54779 6.73163C5.39366 6.88558 5.2714 7.0684 5.18797 7.26964C5.10455 7.47088 5.06161 7.68659 5.06161 7.90444C5.06161 8.12228 5.10455 8.33799 5.18797 8.53923C5.2714 8.74047 5.39366 8.9233 5.54779 9.07725C5.86379 9.37882 6.2838 9.54707 6.7206 9.54707C7.1574 9.54707 7.57742 9.37882 7.89341 9.07725L8.68879 9.87263C8.4308 10.1319 8.12397 10.3374 7.78604 10.4773C7.44811 10.6172 7.08579 10.6887 6.72004 10.6877Z" fill="#242627"/>
                                <path d="M11.22 9.56269C10.6695 9.56274 10.1314 9.39953 9.67361 9.09371C9.21586 8.78789 8.85908 8.35318 8.6484 7.84458C8.43772 7.33597 8.3826 6.77631 8.49002 6.23638C8.59743 5.69645 8.86255 5.2005 9.25185 4.81125L9.56291 4.50075L10.3583 5.29669L10.0478 5.60719C9.73683 5.91817 9.56213 6.33994 9.56213 6.77972C9.56213 7.2195 9.73683 7.64127 10.0478 7.95225C10.3638 8.25382 10.7838 8.42207 11.2206 8.42207C11.6574 8.42207 12.0774 8.25382 12.3934 7.95225L15.265 5.08069C15.5754 4.76951 15.7497 4.34794 15.7497 3.90844C15.7497 3.46893 15.5754 3.04736 15.265 2.73619C14.949 2.43462 14.529 2.26636 14.0922 2.26636C13.6554 2.26636 13.2353 2.43462 12.9194 2.73619L12.124 1.94025C12.646 1.41825 13.354 1.125 14.0922 1.125C14.8304 1.125 15.5384 1.41825 16.0604 1.94025C16.5823 2.46225 16.8756 3.17022 16.8756 3.90844C16.8756 4.64665 16.5823 5.35463 16.0604 5.87662L13.1894 8.74706C12.9314 9.00637 12.6246 9.21197 12.2866 9.35197C11.9487 9.49196 11.5858 9.56359 11.22 9.56269Z" fill="#242627"/>
                                <path d="M13.5 16.875H2.25C1.95172 16.8747 1.66575 16.7561 1.45483 16.5452C1.24392 16.3343 1.1253 16.0483 1.125 15.75V4.5C1.1253 4.20172 1.24392 3.91575 1.45483 3.70483C1.66575 3.49392 1.95172 3.3753 2.25 3.375H4.5V4.5H2.25V15.75H13.5V10.125H14.625V15.75C14.6247 16.0483 14.5061 16.3343 14.2952 16.5452C14.0843 16.7561 13.7983 16.8747 13.5 16.875Z" fill="#242627"/>
                                </svg>

                            </button>
                       </div>
                </div>
            </div>

            <div class="main--content post--padding">
                <h3 class="post--title">Cultiver l'Avenir : Une Unité de Culture Hydroponique innovante de H-FABLAB en Côte d'Ivoire</h2>
                <p class="paragraph">L'H-FABLAB en Côte d'Ivoire, dans le cadre de la Forge d'Adaptations Nord-Sud, s'est lancé dans une initiative novatrice visant à revitaliser l'agriculture en Afrique subsaharienne. L'atelier a donné naissance à une unité de culture intensive hydroponique, une solution écologique et moderne pour surmonter les défis agricoles. Les étapes clés de cette réalisation sont passionnantes.</p>
               <h4 class="h4">Objectif Écologique:</h4>
                <p class="paragraph">La jeunesse en Afrique subsaharienne s'est éloignée de l'agriculture, en partie en raison de la pénibilité des travaux et du manque de mécanisation. L'H-FABLAB a répondu à l'appel en présentant une alternative durable et séduisante : l'unité hydroponique. Cette approche attirante promet de redéfinir la culture tout en respectant l'environnement.</p>
                <h4 class="h4">Créativité avec Simplicité :</h4>
                <p class="paragraph">Les participants à l'atelier ont utilisé des matériaux et outils courants tels que bouteilles en plastique de 1,5 litre, tasses à café en plastique, tuyaux PVC et métal ou bois recyclés. L'assemblage de l'unité a impliqué des étapes comme la découpe des supports, l'assemblage des tuyaux PVC et la création de supports pour les plantes.</p>
                <h4 class="h4">Un Processus Planifié:</h4>
                <p class="paragraph">L'atelier a démarré avec une esquisse 3D du projet, offrant une vision générale et engageante. La planification a été cruciale, avec une liste de tâches établie et visualisée sur un tableau blanc. L'équipe de 15 à 20 participants a travaillé ensemble pendant deux jours pour donner vie à l'unité hydroponique.</p>
                <h4 class="h4">Faire Pousser l'Avenir ::</h4>
                <p class="paragraph">L'unité de culture hydroponique résultante est un chef-d'œuvre de durabilité. Les bouteilles en plastique suspendues accueillent des pousses de salade, tandis que les tasses à café recyclées fournissent un environnement parfait pour la croissance. L'eau est circulée à l'aide d'une pompe, créant un écosystème dynamique.</p>
                <h4 class="h4">Impact et Perspectives:</h4>
                <p class="paragraph">L'H-FABLAB a prouvé que l'innovation et la créativité peuvent révolutionner l'agriculture. Cette unité de culture hydroponique sert d'exemple inspirant pour la jeunesse africaine et offre un potentiel énorme pour revitaliser l'agriculture en adoptant des pratiques durables et modernes.</p>
                 <div class="img--block">
                    <img src="images/blog/IMG_20220923_103624_626.jpg" alt="" srcset="">
                    <span class="img--legend"> Spring in Japan lasts from about mid </span>
                </div>
                <p class="paragraph">En résumé, l'H-FABLAB en Côte d'Ivoire a ouvert la voie à un avenir agricole prometteur en présentant une unité de culture hydroponique ingénieuse et écologique. Cette initiative prouve que des solutions novatrices peuvent résoudre des défis anciens et transformer l'agriculture traditionnelle en une entreprise durable et passionnante. Pour en savoir plus sur cette initiative et ses impacts, visitez le site de la Forge d'Adaptations Nord-Sud : <a href="https://forgecc.org/?MiseEnPlaceDuneUniteDeCultureIntensive2 ">https://forgecc.org/?MiseEnPlaceDuneUniteDeCultureIntensive2</a></p>
            </div>

            <div class="main--content  post--padding post--footer ">
                <div class="share--block">
                     <p class="share--post"><strong>Partager:</strong></p>
                       <div class="social--media">
                            <button class="social--link share" data-action="facebook"> <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path  class="social--svg" d="M11.3328 0.886253C11.3328 0.754165 11.2804 0.627487 11.187 0.534086C11.0936 0.440686 10.9669 0.388214 10.8348 0.388214H8.34461C7.09067 0.325751 5.86298 0.762133 4.92977 1.60202C3.99657 2.4419 3.43372 3.617 3.36421 4.87057V7.55998H0.874016C0.741928 7.55998 0.61525 7.61245 0.521849 7.70585C0.428449 7.79926 0.375977 7.92593 0.375977 8.05802V10.6478C0.375977 10.7799 0.428449 10.9066 0.521849 11C0.61525 11.0934 0.741928 11.1459 0.874016 11.1459H3.36421V17.8196C3.36421 17.9517 3.41669 18.0784 3.51009 18.1718C3.60349 18.2652 3.73016 18.3176 3.86225 18.3176H6.85049C6.98258 18.3176 7.10926 18.2652 7.20266 18.1718C7.29606 18.0784 7.34853 17.9517 7.34853 17.8196V11.1459H9.95826C10.069 11.1475 10.1771 11.1121 10.2655 11.0453C10.3539 10.9786 10.4175 10.8843 10.4463 10.7773L11.1635 8.18751C11.1833 8.11392 11.186 8.03677 11.1713 7.96199C11.1566 7.88721 11.1249 7.8168 11.0788 7.75618C11.0326 7.69556 10.9731 7.64635 10.9049 7.61233C10.8367 7.57832 10.7616 7.56041 10.6854 7.55998H7.34853V4.87057C7.37331 4.62402 7.48909 4.39555 7.67328 4.22978C7.85746 4.06402 8.09682 3.97286 8.34461 3.9741H10.8348C10.9669 3.9741 11.0936 3.92163 11.187 3.82823C11.2804 3.73482 11.3328 3.60815 11.3328 3.47606V0.886253Z" fill="white"/>
                            </svg> </button>

                            <button class="social--link share"  data-action="linkedin"> 
                                <svg width="29" height="18" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.00975 27.125H1.38615V9.01519H7.00975V27.125ZM4.19456 6.54488C2.39656 6.54488 0.937622 5.05494 0.937622 3.25694C0.937622 2.39314 1.28076 1.56473 1.89156 0.953935C2.50235 0.343141 3.33077 0 4.19456 0C5.05835 0 5.88677 0.343141 6.49756 0.953935C7.10836 1.56473 7.4515 2.39314 7.4515 3.25694C7.4515 5.05494 5.99256 6.54488 4.19456 6.54488ZM28.0568 27.125H22.4458V18.3094C22.4458 16.2082 22.4032 13.5141 19.5221 13.5141C16.5984 13.5141 16.1499 15.7964 16.1499 18.1582V27.125H10.5321V9.01519H15.9252V11.4855H16.0036C16.7544 10.0624 18.5882 8.56084 21.324 8.56084C27.0154 8.56084 28.0617 12.3089 28.0617 17.1769V27.125H28.0568Z" fill="black"/>
                                </button> </a>

                            <button class="social--link  share" data-action="twitter">
                             <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.46 2C20.69 2.35 19.86 2.58 19 2.69C19.88 2.16 20.56 1.32 20.88 0.31C20.05 0.81 19.13 1.16 18.16 1.36C17.37 0.5 16.26 0 15 0C12.65 0 10.73 1.92 10.73 4.29C10.73 4.63 10.77 4.96 10.84 5.27C7.28004 5.09 4.11004 3.38 2.00004 0.79C1.63004 1.42 1.42004 2.16 1.42004 2.94C1.42004 4.43 2.17004 5.75 3.33004 6.5C2.62004 6.5 1.96004 6.3 1.38004 6V6.03C1.38004 8.11 2.86004 9.85 4.82004 10.24C4.19077 10.4122 3.53013 10.4362 2.89004 10.31C3.16165 11.1625 3.69358 11.9084 4.41106 12.4429C5.12854 12.9775 5.99549 13.2737 6.89004 13.29C5.37367 14.4904 3.49404 15.1393 1.56004 15.13C1.22004 15.13 0.880039 15.11 0.540039 15.07C2.44004 16.29 4.70004 17 7.12004 17C15 17 19.33 10.46 19.33 4.79C19.33 4.6 19.33 4.42 19.32 4.23C20.16 3.63 20.88 2.87 21.46 2Z" fill="#1C1C1E"/>
                                    </svg> 
                            </button>

                              <button class="social--link  share" data-action="copy">
                           
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.72004 10.6877C6.16953 10.6877 5.63136 10.5245 5.17361 10.2187C4.71586 9.91289 4.35908 9.47818 4.1484 8.96958C3.93772 8.46097 3.8826 7.90131 3.99002 7.36138C4.09743 6.82145 4.36255 6.3255 4.75185 5.93625L7.62398 3.06525C8.14597 2.54325 8.85395 2.25 9.59216 2.25C10.3304 2.25 11.0384 2.54325 11.5604 3.06525C12.0823 3.58725 12.3756 4.29522 12.3756 5.03344C12.3756 5.77165 12.0823 6.47963 11.5604 7.00162L11.2493 7.31213L10.4534 6.51731L10.7667 6.204C11.0765 5.89265 11.2503 5.47112 11.2499 5.03185C11.2495 4.59257 11.0749 4.17138 10.7644 3.86063C10.4484 3.55906 10.0284 3.3908 9.5916 3.3908C9.1548 3.3908 8.73479 3.55906 8.41879 3.86063L5.54779 6.73163C5.39366 6.88558 5.2714 7.0684 5.18797 7.26964C5.10455 7.47088 5.06161 7.68659 5.06161 7.90444C5.06161 8.12228 5.10455 8.33799 5.18797 8.53923C5.2714 8.74047 5.39366 8.9233 5.54779 9.07725C5.86379 9.37882 6.2838 9.54707 6.7206 9.54707C7.1574 9.54707 7.57742 9.37882 7.89341 9.07725L8.68879 9.87263C8.4308 10.1319 8.12397 10.3374 7.78604 10.4773C7.44811 10.6172 7.08579 10.6887 6.72004 10.6877Z" fill="#242627"/>
                                <path d="M11.22 9.56269C10.6695 9.56274 10.1314 9.39953 9.67361 9.09371C9.21586 8.78789 8.85908 8.35318 8.6484 7.84458C8.43772 7.33597 8.3826 6.77631 8.49002 6.23638C8.59743 5.69645 8.86255 5.2005 9.25185 4.81125L9.56291 4.50075L10.3583 5.29669L10.0478 5.60719C9.73683 5.91817 9.56213 6.33994 9.56213 6.77972C9.56213 7.2195 9.73683 7.64127 10.0478 7.95225C10.3638 8.25382 10.7838 8.42207 11.2206 8.42207C11.6574 8.42207 12.0774 8.25382 12.3934 7.95225L15.265 5.08069C15.5754 4.76951 15.7497 4.34794 15.7497 3.90844C15.7497 3.46893 15.5754 3.04736 15.265 2.73619C14.949 2.43462 14.529 2.26636 14.0922 2.26636C13.6554 2.26636 13.2353 2.43462 12.9194 2.73619L12.124 1.94025C12.646 1.41825 13.354 1.125 14.0922 1.125C14.8304 1.125 15.5384 1.41825 16.0604 1.94025C16.5823 2.46225 16.8756 3.17022 16.8756 3.90844C16.8756 4.64665 16.5823 5.35463 16.0604 5.87662L13.1894 8.74706C12.9314 9.00637 12.6246 9.21197 12.2866 9.35197C11.9487 9.49196 11.5858 9.56359 11.22 9.56269Z" fill="#242627"/>
                                <path d="M13.5 16.875H2.25C1.95172 16.8747 1.66575 16.7561 1.45483 16.5452C1.24392 16.3343 1.1253 16.0483 1.125 15.75V4.5C1.1253 4.20172 1.24392 3.91575 1.45483 3.70483C1.66575 3.49392 1.95172 3.3753 2.25 3.375H4.5V4.5H2.25V15.75H13.5V10.125H14.625V15.75C14.6247 16.0483 14.5061 16.3343 14.2952 16.5452C14.0843 16.7561 13.7983 16.8747 13.5 16.875Z" fill="#242627"/>
                                </svg>

                            </button>
                       </div>
                </div>          
                <div class="container mt-5">
                    <div class="dark--separator"></div>
                    <div class="container--title__group">
                    <div class="title--content">
                            <h4 class="h4">Sur le même sujet</h4>
                    </div>
                    </div>
                    
                       <div class="blog--posts__wrapper flex--container">
                       {{#each relative_posts}}
                        <div class="col--unit__6 post--item">
                                <div class="img--box ">
                                    <img src="images/{{this.image}}" alt="" srcset="">
                                    <div class="date--card__wrapper">
                                    <div class="date--card">
                                            <span class="day">{{this.date.jour}}</span>
                                        <span class="month ">{{this.date.mois}}</span>
                                    </div>
                                    </div>
                                </div>

                                <div class="post--body">
                                    <div class="cat--labels">
                                        {{#each this.cat__label}}
                                        <span class="category--label">{{this}}</span>
                                        {{/each}}
                                    </div>

                                    <a href="/blog/post?title={{this.link_title}}&id={{this._id}}">
                                        <h4 class="post--title">
                                            {{this.title}}
                                        </h4>
                                    </a>
                                    <a class="underlined--btn" href="/blog/post?title={{this.link_title}}&id={{this._id}}">Lire l'article</a>
                                </div>
                            </div>
                            {{/each}}
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


{{> main__footer}}